[submodule "Frameworks/spark-sdk-ios"]
	path = Frameworks/spark-sdk-ios
	url = https://github.com/spark/spark-sdk-ios.git
[submodule "Frameworks/AFNetworking"]
	path = Frameworks/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
