public enum Secrets {

  public enum Particle {
    public static let username = "example@email.com"
    public static let password = "password123"
    public static let password_alt: String? = "321drowssap"
  }

  public static let Groves = [
    "GR-ECO-00-000001" : "password46"
  ]

}
